@import "../template.scss";

.main-content {
  .cart {
    max-width: 40%;

    @media screen and (max-width: 400px) {
      margin-top: 70px !important;
    }
    @media screen and (min-width: 400px) and (max-width: 588px) {
      margin-top: 70px !important;
    }

    height: 950px;
    margin-top: 55px;
    .inner-cart {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      min-height: 100px;

      box-shadow: 0px 0px 5px 5px darkgray;

      .cart-items {
        .empty {
          padding-top: 35px;
          margin: 20px;
          text-align: center;
        }
        .single-item {
          @include flex(row, space-between, flex-start);
          text-align: left;
          padding: 10px;

          border-bottom: 1px solid lightgray;
          .price {
            padding-right: 15px;
            padding-bottom: 5px;
            padding-top: 3px;
          }
          .title {
            padding-right: 15px;
            padding-bottom: 5px;
            padding-top: 3px;
          }
          .remove {
            cursor: pointer;
            padding: 4px;
            background-color: lightgray;

            border-radius: 5px;
            border: 1px solid lightgray;
            color: black;
            &:hover {
              color: rgb(155, 64, 64);
            }

            button {
            }
          }
        }
      }
      .total-price {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 20px;
      }
    }
  }
}
